/* Mobile  */

body{
  font-family: var(--font);
  color: var(--gray);
}

header{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.logo{
  color: var(--orange);
  font-weight: 600;
  font-size: 1.5rem;
}

.menu{
  display: flex;
  flex-direction: column;
}
.menu__link{
  color: var(--gray);
  font-weight: 500;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.main-content__image{
  margin-bottom: 2rem;
}
.main-content__title{
  margin-bottom: 2rem;
}

.main-content__btn{
  color: #fff;
  background-color: var(--orange);
  margin-top: 2rem;
  padding: 1rem 0;
  width: 80%;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.4rem;
}

/* Desktop  */
@media screen and (min-width: 800px){
  
  body{
    height: 100vh;
  }

  .menu{
    flex-direction: row;
    justify-content: space-around;
  }
  header{
    width: 90%;
  }
  nav{
    width: 30%;
  }
  .main-content{
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto;
    height: 100%;

  }
  .main-content__image,
  .main-content__div {
    width: 50%;
  }

  .main-content__title,
  .main-content__description{
    margin: 0 auto;
    width: 100%;
  }

  
}